<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77999306404-us3atup2mt4f3dk8nb2m53lijifemmo8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77999306404-us3atup2mt4f3dk8nb2m53lijifemmo8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>77999306404-9epe5ccl8ep3h49dh9kic6qlfc4944s5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0X_v7UiM2ljvwWrRKoFUz47VHoJgHkTY</string>
	<key>GCM_SENDER_ID</key>
	<string>77999306404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.o2Services</string>
	<key>PROJECT_ID</key>
	<string>o2servicehslu</string>
	<key>STORAGE_BUCKET</key>
	<string>o2servicehslu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:77999306404:ios:f8432d81f73a6df5bc5831</string>
	<key>DATABASE_URL</key>
	<string>https://o2servicehslu.firebaseio.com</string>
</dict>
</plist>
